@page
@model Server.Pages.Queries.Q1Model

@{
    ViewData["Title"] = "Q1";
}

<h1>Query 1 - List of all player</h1>

@*Query 1 - List of all players*@

<br />
<br />

<a asp-page="../Index">Back To Login Welcome Page</a> | <a asp-page="./Queries">Back To Queries</a>

<br />


<h1>@Html.DisplayTextFor(model=>model.QueryName)</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].CountrySelection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountrySelection)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

